[submodule "android/hello-world"]
	path = android/hello-world
	url = https://github.com/RangHo/android-hello-world
[submodule "android/vanced-microg"]
	path = android/vanced-microg
	url = https://github.com/TeamVanced/VancedMicroG
[submodule "arch/hello"]
	path = arch/hello
	url = https://aur.archlinux.org/hello.git
[submodule "arch/cloudflare-warp-bin"]
	path = arch/cloudflare-warp-bin
	url = https://aur.archlinux.org/cloudflare-warp-bin.git
[submodule "void/srcpkgs/lightback"]
	path = void/srcpkgs/lightback
	url = https://github.com/RangHo/lightback
[submodule "arch/modprobed-db"]
	path = arch/modprobed-db
	url = https://aur.archlinux.org/modprobed-db.git
[submodule "arch/spotify"]
	path = arch/spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "arch/slack-desktop"]
	path = arch/slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
[submodule "arch/soteria"]
	path = arch/soteria
	url = https://github.com/RangHo/soteria-arch
[submodule "arch/carapace-bin"]
	path = arch/carapace-bin
	url = https://aur.archlinux.org/carapace-bin.git
[submodule "arch/xp-pen-tablet"]
	path = arch/xp-pen-tablet
	url = https://aur.archlinux.org/xp-pen-tablet.git
[submodule "arch/ndi-sdk"]
	path = arch/ndi-sdk
	url = https://aur.archlinux.org/ndi-sdk.git
[submodule "arch/ffmpeg7.1"]
	path = arch/ffmpeg7.1
	url = https://aur.archlinux.org/ffmpeg7.1.git
[submodule "arch/distroav"]
	path = arch/distroav
	url = https://aur.archlinux.org/distroav.git
[submodule "arch/zoom"]
	path = arch/zoom
	url = https://aur.archlinux.org/zoom.git
[submodule "arch/zotero"]
	path = arch/zotero
	url = https://aur.archlinux.org/zotero.git
[submodule "arch/opentabletdriver"]
	path = arch/opentabletdriver
	url = https://aur.archlinux.org/opentabletdriver.git
[submodule "arch/oversteer"]
	path = arch/oversteer
	url = https://aur.archlinux.org/oversteer.git
