[submodule "android/hello-world"]
	path = android/hello-world
	url = https://github.com/RangHo/android-hello-world
[submodule "android/vanced-microg"]
	path = android/vanced-microg
	url = https://github.com/TeamVanced/VancedMicroG
[submodule "arch/hello"]
	path = arch/hello
	url = https://aur.archlinux.org/hello.git
[submodule "arch/floorp-bin"]
	path = arch/floorp-bin
	url = https://aur.archlinux.org/floorp-bin.git
[submodule "arch/scenefx"]
	path = arch/scenefx
	url = https://aur.archlinux.org/scenefx.git
